<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div>
        <h1>File Uploader app</h1>
        <h3>
            <a href="/">Home</a>
        </h3>
        <h2>
            <%= user.username %>
        </h2>
        <h3>
            <a href="/log-out">LOG OUT</a>
        </h3>

    </div>

    <ul>
        <li>
            <h1>
                <%= files.fileName %>
            </h1>
        </li>
        <li>
            <strong>Kb:</strong>
            <%= Math.round(files.fileSize / 1024 * 100) / 100 %>
        </li>
        <li>
            <strong>Uploaded at:</strong>
            <%= files.fileUploadTime.toDateString() %>
        </li>
        <li>
            <a href="./uploads/ <%= files.fileString %>" download="<%= files.fileName %>">Download</a>
        </li>
    </ul>
</body>

</html>