<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="navbar">
        <h1>File Uploader app</h1>
        <h2>
            Folder Name: <%= folder.folderName %>
        </h2>

        <div class="links">
            <h2>
                <%= user.username %>
            </h2>
            <h3>
                <a href="/log-out">LOG OUT</a>
            </h3>
            <h3>
                <a href="/">Home</a>
            </h3>
        </div>
    </div>


    <ul class="folders-content">
        <li>
            <form action="/folders/<%= folder.id %>" method="POST" enctype="multipart/form-data">
                <label for="myfile">Upload a file:</label>
                <input required type="file" id="myfile" name="myfile"><br><br>
                <input type="submit">
            </form>
        </li>
        <% if (locals.files) {%>
            <% for (let i=0; i < files.length; i++) { %>
                <li>
                    <a href="/files/<%= files[i].id %>">
                        <%= files[i].fileName %>
                    </a>


                    <a href="/deleteFile/<%= files[i].id %>">
                        <button>Delete</button>
                    </a>
                </li>
                <%}%>
    </ul>
    <%}%>
</body>

</html>