<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <% if (locals.user) {%>

        <form action="" method="POST">
            <label for="myfolder">Create folder:</label>
            <input type="text" id="myfolder" name="myfolder">
            <input type="submit">
        </form>

        <% if (locals.folder) {%>
            <ul>

                <% for (let i=0; i < folder.length; i++) { %>

                    <li>
                        <a href="/folders/<%= folder[i].id %>">

                            <%= folder[i].folderName %>

                        </a>

                        <a href="/update/<%= folder[i].id %>">
                            <button>update</button>
                        </a>

                    </li>
                    <%}%>

            </ul>
            <% }%>
                <a href="/log-out">LOG OUT</a>
                <%} else { %>

                    <h1>please log in</h1>
                    <%- include("errors.ejs") %>
                        <% if (locals.messages) {%>
                            <p>
                                <%= messages[0] %>
                            </p>
                            <%}%>
                                <form action="/log-in" method="POST">
                                    <label for="username">Username</label>
                                    <input id="username" name="username" placeholder="username" type="text" />
                                    <label for="password">Password</label>
                                    <input id="password" name="password" type="password" />
                                    <button>Log In</button>
                                </form>
                                <a href="/sign-up">Sign-up</a>


                                <% }%>
</body>

</html>